.box{
    width: 300px;
    height: 200px;
    background-color:fuchsia;

    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    
    margin: 0 auto;
}

.traditional {
    background-color: red;
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    border: 5px solid darkblue;
}

.card{
    box-sizing: border-box;
    background-color: blue;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(119, 105, 105, 0.1)
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    padding: 1rem 2rem;
    color: azure;  
} 

.navbar a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 0.5rem, 1rem;
}

.card-container{
    display: flex;
    gap: 20px;

}

.cards{
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
}