body{
    margin: 0;
}
.holy-grail {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to left, #50c5c1, white);        
}

header {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.main-content{
    display: flex;
    flex: 1;
}

main{
    margin: 0;
    flex: 3;
    padding: 20px;
    background: #f5f5f5;
    
}

/* nav {
    flex: 1;
    padding: 20px;
    background: #e9e9e9;
    order: -1;
} */

/* aside {
    flex: 1;
    padding: 20px;
    background: #e9e9e9;
} */

.logo img {
    width: 7rem;
}

.navbar-options{
    display: flex;
}

.navbar-options li {
    list-style-type: none;
    margin-right: 2rem;
    color: #3e4496;
}

header a{
    text-decoration: none;
}

