body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holy-grail {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to left, #50c5c1, white);        
}

header {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.main-content{
    display: flex;
    flex: 1;
}

main{
    margin: 0;
    flex: 3;
    padding: 20px;
    background: #f5f5f5;
    
}

.logo img {
    width: 5rem;
}

.navbar-options{
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-options li  {
    list-style-type: none;
    margin-right: 2rem;
    
}

header  a {
    text-decoration: none;
    color: rgba(4, 50, 35, 0.989);
}


/*MENU RESPONSIVE*/
