.holy-grail {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    padding: 20px;
    background: #333;
    color: white;
}

.main-content{
    display: flex;
    flex: 1;
}

main{
    flex: 3;
    padding: 20px;
    background: #f5f5f5;
}

nav {
    flex: 1;
    padding: 20px;
    background: #e9e9e9;
    order: -1;
}

aside {
    flex: 1;
    padding: 20px;
    background: #e9e9e9;
}
